@import url('http://getbootstrap.com/dist/css/bootstrap.css');

body {
  background-image: url(http://i.imgur.com/5VlyDqY.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: tan;
  color: white;
}

.loginLink {
  text-align: right;
  padding: 10px;
}

a {
  color: white;
}

#chatcheck{
float: right;
background-color: rgba(100,30,22, .7);
padding: 20px, 20px;
}



#testbox{
  background-color: rgba(100,30,22, .7);
  width: 400px;
  height: 90%;
  padding: 20px;
  float: right;
}

#chatheader{
  color: #F4F7A9;
}
