@import url('http://getbootstrap.com/dist/css/bootstrap.css');

body {
  background-image: url(http://i.imgur.com/IKd68Uj.png);
  background-position: left top;
  background-repeat: no-repeat;
  color: white;
}

.loginLink {
  text-align: right;
  padding: 10px;
}

a {
  color: white;
}

.loginBg {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.searchBg {
  /*max-width: 400px;*/
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  color: #9e3f1b;
  background-color: rgba(255, 255, 255, 0.5);
}

.searchBox {
  padding-top: 40px;
}

a:hover {
  color: white;
}

#chatcheck{
float: right;
background-color: rgba(100,30,22, .7);
padding: 20px, 20px;
}



#testbox{
  background-color: rgba(100,30,22, .7);
  width: 400px;
  height: 90%;
  padding: 20px;
  float: right;
}

#chatheader{
  color: #F4F7A9;
}
